@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;

    background-color: #ffffff;
}

h1 {
    font-size: 34px;
}

.title h1 {
    display: inline-block;
    margin-left: -8px;
    z-index: 0;
    margin-block-start: 0em;
}

#does {
    z-index: 1;
}

#does h1 {
    display: inline;
    margin-left: -73px;
}

.reshu {
    display: inline;
}

#liang h1 {
    margin-left: -73px;
}

.mobile-spaces {
    display: none;
}

.pc-spaces {
    display: inline;
}

#caretdown {
    display: none;
}

#design h1 {
    display: inline-block;
    background-color: yellow;
}

#graphics h1 {
    background-color: rgb(0, 238, 255);
}

#illustration h1 {
    background-color: rgb(255, 45, 161);
}

#self-portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5%;
    margin-bottom: -5%;
    width: 40%;
    /*height: 40%;*/
}

.container {
    display: grid;
    grid-template-columns: 8% 250px auto 8%;
    grid-template-rows: 1fr;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 5%;
}

header.pc {
    grid-column: 2 / 4;
    grid-row: 1;
    z-index: 0;
}

header.mobile {
    display: none;
}

a {
    color: black;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid rgb(255, 45, 161);
}

a:visited {
    color: black;
}

a:hover, a:active {
    background-color: rgb(255, 45, 161);
    transition: background-color 0.5s;
}

nav a {
    margin-bottom: 20px;
}

.content {
    grid-column: 3 / 4;
    grid-row: 1;
    z-index: 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.sections {
    grid-column: 1;
    margin-top: -50px;
    margin-bottom: -20px;
}

.set {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 5fr 6fr 5fr;
    grid-template-rows: 1fr;
}

/* added link */
a.img-link {
    display: inline-block;
    text-decoration: none;
    border-bottom-style: none;
    line-height: 0;
}

a.img-link:hover,a.img-link:active {
    background-color: inherit;
}

.left a img {
    width: 100%;
    height: auto;
}

.left a {
    grid-column: 1;
    grid-row: 1;
    align-self: start;
}

.bottom a {
    align-self: end;
}

.right a img {
    width: 100%;
    height: auto;
}

.right a {
    grid-column: 3;
    grid-row: 1;
    align-self: end;
}

.left div {
    grid-column: 2;
    grid-row: 1;
    align-self: end;
}

.right div {
    grid-column: 2;
    grid-row: 1;
    align-self: end;
    text-align: right;
}

.set div h2 {
    margin-block-start: 0em;
}

.set div p {
    margin-block-end: 0em;
}

.offset-top-sm a img {
    margin-top: -100px;
}

.offset-top-lg a img {
    margin-top: -150px;
}

.font-sm {
    font-size: 32px;
    display: inline;
}

@media screen and (max-width: 1100px) {
    .set {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .left a {
        grid-column: 1;
        grid-row: 1;
        align-self: start;
    }

    .right a {
        grid-column: 1;
        grid-row: 1;
        align-self: start;
    }

    .left div {
        grid-column: 1;
        grid-row: 2;
        align-self: start;
    }
    
    .right div {
        grid-column: 1;
        grid-row: 2;
        align-self: start;
        text-align: left;
    }

    .offset-top-sm a img {
        margin-top: 0px;
    }
    
    .offset-top-lg a img {
        margin-top: 0px;
    }
  }

  @media screen and (max-width: 700px) {

    .container {
        display: grid;
        grid-template-columns: 8% auto 8%;
        grid-template-rows: auto;
    }

    h1 {
        font-size: 5.6vw;
    }

    header.pc {
        display: none;
        grid-column: 2;
        grid-row: 1;
        z-index: -1;
    }

    header.mobile {
        display: inherit;
        position: fixed;
        top: 5%;
        width: 84%;
        margin-left: 8%;
        margin-right: 8%;
        z-index: 2;
    }

    header.mobile h1 {
        margin-block-start: 0em;
    }

    header.mobile nav {
        display: block;
        background-color: white;
        border: 2px solid rgb(255, 45, 161);
        float: right;
        padding-bottom: 3px;
    }

    header.mobile nav.hide {
        display: none;
    }

    header.mobile nav a {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 10px;
        font-size: 18px;
    }

    .content {
        grid-column: 2;
        grid-row: 1;
        z-index: 0;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    #does {
        z-index: 2;
    }

    #does h1 {
        display: inline;
        margin-left: 0px;
    }

    .reshu {
        display: none;
    }

    #liang h1 {
        display: inline;
        margin-left: 0px;
    }

    #caretdown {
        height: 5vw;
        top: 0;
        left: 94%;
        position: absolute;
        display: inline-block;
    }

    .mobile-spaces {
        color: rgba(255, 255, 255, 0);
        display: inline;
    }
    
    .pc-spaces {
        display: none;
    }

    .title h1 {
        display: inline-block;
        margin-left: 0;
    }

    #self-portrait {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: -5%;
        width: 100%;
        /*height: 100%;*/
    }
  }