@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;

    background-color: #ffffff;
}

h1 {
    font-size: 34px;
}

.title {
    display: inline-block;
    margin-left: -8px;
    z-index: 0;
}

#does {
    display: inline;
}

#design h1 {
    background-color: yellow;
}

#graphics h1 {
    background-color: rgb(0, 238, 255);
}

#illustration h1 {
    background-color: rgb(255, 45, 161);
}

.container {
    display: grid;
    grid-template-columns: 8% 250px auto 8%;
    grid-template-rows: 1fr;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 5%;
}

header {
    grid-column: 2 / 4;
    grid-row: 1;
    z-index: 0;
}

.catherinedoes {
    grid-column: 2 / 4;
    grid-row: 1;
}

a {
    color: black;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid rgb(255, 45, 161);
}

a:visited {
    color: black;
}

a:hover, a:active {
    background-color: rgb(255, 45, 161);
    transition: background-color 0.5s;
}

nav a {
    margin-bottom: 20px;
}

.content {
    grid-column: 3 / 4;
    grid-row: 1;
    z-index: 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.section {
    grid-column: 1;
}

.set {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 5fr 6fr 5fr;
    grid-template-rows: 1fr;
}

.left img {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: auto;
    align-self: start;
}

.bottom img {
    align-self: end;
}

.right img {
    grid-column: 3;
    grid-row: 1;
    width: 100%;
    height: auto;
    align-self: end;
}

/* added link */
a.img-link {
    display: inline-block;
    text-decoration: none;
    border-bottom-style: none;
    line-height: 0;
}

a.img-link:hover,a.img-link:active {
    background-color: inherit;
}

.left a img {
    width: 100%;
    height: auto;
}

.left a {
    grid-column: 1;
    grid-row: 1;
    align-self: start;
}

.bottom a {
    align-self: end;
}

.right a {
    grid-column: 3;
    grid-row: 1;
    align-self: end;
}

.right a img {
    width: 100%;
    height: auto;
}

.left div {
    grid-column: 2;
    grid-row: 1;
    align-self: end;
}

.right div {
    grid-column: 2;
    grid-row: 1;
    align-self: end;
    text-align: right;
}

.set div h2 {
    margin-block-start: 0em;
}

.set div p {
    margin-block-end: 0em;
}

.offset-top-sm img {
    margin-top: -100px;
}

.offset-top-lg img {
    margin-top: -150px;
}

.offset-top-sm a img {
    margin-top: -100px;
}

.offset-top-lg a img {
    margin-top: -150px;
}