@import url('https://fonts.googleapis.com/css?family=Baloo+2:600,700&display=swap');

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    font-family: 'Baloo 2', sans-serif;
    color: white;
    margin: 0px;
}

h1 {
    font-size: 2.2em;
}

h1 mark {
    background-color: magenta;
    color: cyan;
}

img {
    width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration-style: wavy;
    text-decoration-color: cyan;
    color: white;
}

a:hover, a:active {
    text-decoration-color: yellow;
}

nav a {
    padding: 3px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

header {
    position: fixed;
    left: 70px;
    top: 10px;
}

section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    scroll-snap-align: start;
    overflow: hidden;
}

.design {
    background-image:
    linear-gradient(
      rgba(255, 0, 0, 0.5), 
      rgba(255, 0, 0, 0.5)
    ),
    url(images/design.jpg);
}

.design mark {
    background-color: cyan;
    color: magenta;
}

.graphics {
    background-image:
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(255, 0, 0, 0.5), 
      rgba(255, 0, 0, 0.5)
    ),
    url(images/graphics.jpg);
}

.graphics mark {
    background-color: yellow;
    color: darkturquoise;
}

.illustration {
    background-image:
    linear-gradient(
      rgba(200, 200, 0, 0.8), 
      rgba(200, 200, 0, 0.8)
    ),
    linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),
    url(images/illustration.png);
}

.illustration mark {
    background-color: magenta;
    color: yellow;
}

.about {
    background-image:
    linear-gradient(
      rgba(0, 255, 255, 0.5), 
      rgba(0, 255, 255, 0.5)
    ),
    linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
    url(images/about.jpg);
}

.container {
    display: grid;
    grid-template-columns: 13% 140px auto auto 13%;
    grid-template-rows: 100px auto auto;
}

.container h2 {
    grid-column: 3 / 5;
    grid-row: 2;
    font-size: 3.5vw;
}

.container p {
    font-size: 1.2em;
}

.container h3 {
    font-size: 2.8vw;
}

.container .about-text {
    grid-column: 3 / 5;
    grid-row: 2; 
}

.projects {
    position: relative;
    grid-column: 4;
    grid-row: 3;
    width: 450px;
}

.projects p {
    font-size: 1.2em;
}

.project1, .project2, .project3 {
    position: absolute;
    width: 200px;
}

.project1 {
    z-index: 1;
}

.project2 {
    left: 125px;
    top: 20px;
    z-index: 2;
}

.project3 {
    left: 250px;
    z-index:3;
}

.projectheader {
    position: absolute;
    cursor: move;
    width: 12%;
    top: 10px;
    left: 10px;
}

img.horizontal {
    width: 200px;
    height: auto;
    object-fit: contain;
}

img.vertical {
    height: 200px;
    width: auto;
    object-fit: contain;
}