html {
    scroll-snap-type: y mandatory;
}

body {
    margin: 0px;
}

header {
    position: fixed;
    left: 50px;
    top: 20px;
}

section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    scroll-snap-align: start;
}

.design {
    background-image:
    linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ),
    url(images/design.png);
}

.graphics {
    background-image:
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ),
    url(images/graphics.jpg);
}

.illustration {
    background-image:
    linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ),
    url(images/illustration.png);
}

.about {
    background-image:
    linear-gradient(
      rgba(0, 255, 255, 0.45), 
      rgba(0, 255, 255, 0.45)
    ),
    url(images/about.jpg);
}